body .arab {
  direction: rtl;
  text-align: right;
}
.arab-testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.arab-testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: #c1dad0;
  border-radius: 15px;
  transition: 0.5s;
}

.arab-testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--bs-primary);
}
.arab .top-info {
  direction: ltr;
}
.arab .top-info a {
  color: #6c757d;
}

.arab #note {
  width: 500px;
  overflow: hidden;
}

.arab #note small {
  position: relative;
  display: inline-block;
  animation: mymove 15s infinite;
  animation-timing-function: all;
}

@keyframes mymove {
  from {
    right: 100%;
  }
  to {
    right: -100%;
  }
}



.arab .contact-form input,
.arab .contact-form textarea {
  text-align: right; /* Align text to the right */
  direction: rtl; /* Set text direction to RTL */
}
